<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <h2>This is post {{ mode }} component</h2>
    <mat-form-field>
      <input
        matInput
        name="title"
        type="text"
        placeholder="Post Title"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >please input valid title!</mat-error
      >
    </mat-form-field>
    <div>
      <button
        mat-mat-stroked-button
        type="button"
        (click)="fileUploader.click()"
      >
        Upload Image
      </button>
      <input type="file" #fileUploader (change)="onImageChange($event)" />
    </div>
    <div
      class="image-previewer"
      *ngIf="imagePreviewUrl && imagePreviewUrl !== ''"
    >
      <img [src]="imagePreviewUrl" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        name="content"
        rows="4"
        placeholder="Post Content"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >please input some amazing content!</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      {{ mode }} a Post
    </button>
  </form>
</mat-card>
