<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <h2>This is post {{ mode }} component</h2>
    <mat-form-field>
      <input
        matInput
        name="title"
        type="text"
        required
        minlength="3"
        placeholder="Post Title"
        [ngModel]="post?.title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">please input valid title!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="content"
        rows="4"
        required
        placeholder="Post Content"
        [ngModel]="post?.content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >please input some amazing content!</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Add a Post
    </button>
  </form>
</mat-card>
