mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-previewer {
  height: 20vh;
  margin: 4vh 0;
  img {
    height: 100%;
  }
}
